<div class="col-xs-12 text-center">
  <h1>Todos Contatos</h1>
</div>
  <table class="table table-Secondary table-hover table-striped ">
    <thead class="table-dark">
      <tr>
        <th scope="col">Nome Completo</th>
        <th scope="col">CPF</th>
        <th scope="col">E-mail</th>
        <th scope="col">Data de nascimento</th>
      </tr>
    </thead>
    <tbody>
    <% if !@contacts%>
          <tr>
            <td colspan="4" class="text-center">
              <h3>Sem contatos cadastrados.</h3>
              <%= link_to 'click aqui', new_contact_path, class: 'btn btn-success' %>  para cadastrar um novo contato
            </td>
          </tr>
    <% end %>
    <%= render @contacts%>
    </tbody>
  </table>
<%= link_to 'Create new contact', new_contact_path, class: 'btn btn-success' %>
