<footer class="m-3">
  <p>Agenda. Todos os direitos reservados | </span> 2022 <a class="mx-2 text-primary text-decoration-none" href="https://ixboy.github.io/portfolio/">Ismael Antonio</a></span></p>
</footer>
